{{ define "main" }}
  <script src="{{ .Site.BaseURL }}pagefind/pagefind-ui.js"></script>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>

  <main aria-role="main">
    <header class="homepage-header">
      <h1 class="text-6xl font-light">{{ .Title }}</h1>
      <hr />
    </header>

    <aside
      role="region"
      class="mx-mt-4 overflow-hidden border bg-white text-sm sm:float-left sm:mb-6 sm:mr-6 sm:mt-0 sm:w-96"
    >
      <a href="map.html"><img class="rounded" src="images/maenalin.webp" /></a>
    </aside>

    <div>
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    <hr />
    <div
      id="featured"
      class="mb-8 rounded md:mb-16 lg:w-[58%] xl:w-2/3 2xl:w-[73%]"
    >
      <h3
        id="featured-title"
        class="bg-primary/30 border-primary/50 w-full rounded border p-2 text-3xl"
      ></h3>
      <img
        src="#"
        id="featured-image"
        class="float-right mb-4 ml-4 mt-2 hidden max-h-40 lg:max-h-52 xl:max-h-32 2xl:max-h-24"
      />
      <div id="featured-content" class="mt-1"></div>
    </div>
    <div id="newest" class="mb-8 w-full rounded md:mb-16">
      <h3
        id="newest-title"
        class="bg-primary/30 border-primary/50 w-full rounded border p-2 text-3xl"
      ></h3>
      <img
        src="#"
        id="newest-image"
        class="float-right mb-4 ml-4 mt-2 hidden max-h-56 sm:max-h-44 md:max-h-40 lg:max-h-52 xl:max-h-32 2xl:max-h-24"
      />
      <div id="newest-content" class="mt-1"></div>
    </div>
    <hr />
    <div
      class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
    >
      {{ range (sort .Site.Sections "Title" "asc") }}
        <div>
          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          <hr />
          <ul class="mt-2">
            {{ range first 10 .Pages.ByPublishDate.Reverse }}
              <li>
                <h6 class="mr-4">
                  &bull; <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h6>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </main>

  <script>
  const getPageOfTheDay = () => {
    const pages = {
      {{ range (sort (.Site.RegularPages) "Title") }}
        "{{ .Permalink }}": {title: "{{.Title}}", description: "{{.Summary}}", images: {{.Params.images}}, url: "{{.Permalink}}"},
      {{ end -}}
    };
    const date = new Date();
    const noTimeDate = date - (date % 86400000);
    const id = noTimeDate % Object.keys(pages).length;
    const page = Object.keys(pages)[id];
    return pages[page];
  };

  const getNewestPage = () => {
    return {
      {{ range .Site.RegularPages | first 1 }}
        title: "{{.Title}}", description: "{{.Summary}}", images: {{.Params.images}}, url: "{{.Permalink}}",
      {{ end -}}
    };
  };

  const setPage = (page, id) => {
    const title = document.getElementById(id + "-title");
    title.innerHTML = "נוסף לאחרונה: <a href=\"" + page.url + "\"><strong>" + page.title + "</strong></a>";
    const content = document.getElementById(id + "-content");
    content.innerHTML = page.description;
    if (page.images.length) {
      const image = document.getElementById(id + "-image");
      image.src = page.images[0];
      image.classList.remove("hidden")
     }
  }

  setPage(getPageOfTheDay(), "featured");
  setPage(getNewestPage(), "newest");
  {{/*  const page = getPageOfTheDay();
  const title = document.getElementById("featured-title");
  title.innerHTML = "הדף היומי: <a href=\"" + page.url + "\"><strong>" + page.title + "</strong></a>";
  const content = document.getElementById("featured-content");
  content.innerHTML = page.description;
  if (page.images.length) {
    const image = document.getElementById("featured-image");
    image.src = page.images[0];
    image.classList.remove("hidden")
  }  */}}

  {{/*  const newest = getNewestPage();
  const newestTitle = document.getElementById("newest-title");
  newestTitle.innerHTML = "הדף החדש: <a href=\"" + newest.url + "\"><strong>" + newest.title + "</strong></a>";
  const newestContent = document.getElementById("newest-content");
  newestContent.innerHTML = newest.description;
  if (newest.images.length) {
    const newestImage = document.getElementById("newest-image");
    newestImage.src = newest.images[0];
    newestImage.classList.remove("hidden")
  }  */}}
</script>
{{ end }}
