<div>
    {{ $rel := .RelPermalink }}
    {{ $current := replace $rel "/Maenalin" "" }}
    {{ $sub := substr $current 0 -1 }}
    {{ $base := .Site.BaseURL }}
    {{ $matches := slice }}

    {{ range .Site.Pages }}
      {{ if and (in .Content $sub) (and (not (in .Content $current)) (ne .RelPermalink $rel)) }}
        {{ $matches = $matches | append . }}
      {{ end }}
    {{ end }}


    {{if gt (len $matches) 0}}
        <h5>דפים מקשרים</h5>
        <hr/>
        <div class="grid grid-cols-4 gap-4 sm:grid-cols-6 lg:grid-cols-8 xl:grid-cols-12">
        {{ range sort $matches "Title" "asc" }}
            <div>
                <div class="h-full">
                    {{ $title := .Title }}
                    <a href="{{ .Permalink }}" class="font-normal block h-full">
                      <div class="rounded border h-full flex items-center justify-center">
                        <div>
                            {{ if .Params.images }}
                                {{ with .Params.images }}
                                    {{ $url := index (.) 0 }}
                                    <img
                                    loading="lazy"
                                    class="w-full object-cover aspect-square"
                                    src="{{ $base }}{{ $url }}"
                                    alt="{{ $title }}"
                                    />
                                {{ end }}
                            {{ else }}
                                <iiv class="w-full object-cover aspect-square"></iiv>
                            {{ end }}
                          <h5 class="text-center font-normal overflow-clip text-nowrap text-sm">{{ .Title }}</h5>
                        </div>
                      </div>
                    </a>
                </div>
              </div>
        {{ end }}
        </div>
    {{ end }}
</div>