{{ define "title" }}
  {{ .Title }} |
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <script src="{{ .Site.BaseURL }}pagefind/pagefind-ui.js"></script>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>

  {{ $base := .Site.BaseURL }}

  {{- partial "breadcrumb.html" . -}}


  <h2 data-pagefind-body data-pagefind-meta="title">{{ .Title }}</h2>
  <hr />
  <br />

  {{- partial "sidebar.html" . -}}
  <main class="text-justify">
    {{ .Content }}
  </main>
  
  <div class="space-y-4">
    {{ range .Pages.GroupByParam  "group" }}
    <div>
        {{ if ne .Key "" }}
          <h3>{{ .Key }}</h3>
          <hr />
        {{ end }}
        <div
          class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
        >
          {{ range (sort .Pages "Title") }}
            {{ $title := .Title }}
            <a href="{{ .Permalink }}" class="font-normal">
              <div class="rounded border">
                <div>
                  {{ with .Params.images }}
                    {{ $url := index (.) 0 }}
                    <img
                      loading="lazy"
                      class="h-28 w-full object-cover sm:h-40"
                      src="{{ $base }}{{ $url }}"
                      alt="{{ $title }}"
                    />
                  {{ end }}
                  <h5 class="text-center font-normal">{{ .Title }}</h5>
                </div>
              </div>
            </a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{- partial "related.html" . -}}
  </div>
{{ end }}
