{{ define "title" }}
  {{ .Title }} |
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <script src="{{ .Site.BaseURL }}pagefind/pagefind-ui.js"></script>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
  <div data-pagefind-body>
    {{- partial "breadcrumb.html" . -}}


    <h1 data-pagefind-meta="title" class="text-5xl font-light sm:text-6xl">
      {{ .Title }}
    </h1>
    <hr />

    {{- partial "sidebar.html" . -}}
    <main class="mb-12 pt-4 text-justify">
      {{ .Content }}
    </main>
  </div>
{{ end }}
