{{ define "title" }}
  {{ .Title }} |
  {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <script src="./pagefind/pagefind-ui.js"></script>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
  {{- partial "breadcrumb.html" . -}}


  <h1 data-pagefind-meta="title" class="text-6xl font-light">{{ .Title }}</h1>
  <hr />

  {{- partial "sidebar.html" . -}}
  <main data-pagefind-body class="mb-12 pt-4 text-justify">
    {{ .Content }}
  </main>
{{ end }}
